<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="./Accounting">Accounting</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="./">All information</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="./CompaniesSalary">Companies salary</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="./EmployeesInterests">Hobbies of employees</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="./EmployeesFamily">Family position of employees</a></li>
            </ul>
        </div>
    </div>
</nav>